body{
  overflow: hidden;
  background-color: rgb(30, 36, 64);
  
}


iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container{
  display:flex;
  justify-content: center;
}

#login{
  margin:10px;
  width: 100px;
  padding:5px;
}

#password{
  margin:10px;
}