/*I SAID STOP SNOOPING AROUND
borple: 7D00FF

*/

@font-face{
    font-family: goth;
    src: url(./assets/Darkcastle_PERSONAL_USE_ONLY.otf)
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.235);
    background-image: url(./assets/bg.jpg);
    background-size: cover;

}


#main{
    font-family: goth;
    width: 100vw;
    margin: 0px;
    color: white;
    text-shadow: 
    0 0 10px #fff,
    0 0 21px  #7D00FF,
    0 0 42px  #7D00FF,
    0 0 82px  #7D00FF;

}

#parent{
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.584);
    border: 6px solid !important;
    border-image: url(./assets/gothic/menu/R_SquareFrame.png) 30 round !important;
}
a:visited{
    color: rgb(255, 255, 255);
}
a:link{
    color: white;
}
.grid-container{
    display:grid;
    grid-template-areas:
    'rose2 word word word word word rose'
    'navbar navbar navbar navbar navbar navbar navbar'
    'skull header header header header right right'
    'menu main main main main blinkies blinkies'
    'menu main main main main blinkies blinkies'
    'footer footer footer footer footer footer footer';
    background-color: rgba(255, 0, 0, 0);
    
}
.update{
    text-wrap: nowrap;
    font-size: 15px;
    padding: 15px;
    border: 5px solid !important;
    border-image: url(./assets/gothic/menu/R_SquareFrame.png) 30 round !important;
    width:fit-content;

}
.grid-container > div{
    background-color: rgba(0, 0, 255, 0);
    text-align: center;
    font-size: 30px;
    margin: 5px;
    border: 6px solid;
    border-image: url(./assets/gothic/menu/R_SquareFrame.png) 30 round !important;
}

.rose{
    display: flex;
    justify-content: right;
    grid-area:rose;
    border: 0 !important;
    padding: 0 !important;
    margin: 0px !important;
   
}
.rose2{
    display: flex;
    grid-area: rose2;
    border: 0 !important;
    padding: 0 !important;
    margin: 0px !important;
    
}
.word{
    display: flex;
    text-align: c;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    grid-area: word;
    border: 0 !important;
    padding: 0 !important;
    margin: 20px !important;
    font-family: goth;
    font-size: 50px !important;
}
.blinkies{
    padding-top: 10px !important;
    grid-area: blinkies;

}
.blinky{
    width: 150px;
    height: 20px;
    margin: 0px !important;
    padding: 0px;
}
.item0{
    
    grid-area:skull;
    border: none;
    padding: 0px;
    padding-top: 25px;
    background-image: url(./assets/5362.gif);
    background-size: cover;

}

.blinkie{
    margin: 0px !important;
    padding: 0px !important;
    font-size: 0px !important;
}
.item1{
    grid-area: header;
    gap: 0px !important;
    padding: 0px !important;
    font-size: 20px !important;

}
.item2{
    grid-area: menu;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area: right;
}
.item5{
    grid-area: footer;
}
.navbar{
    grid-area: navbar;
    margin-top: 0px !important;
    padding: 10px !important;
}
.nextTo{
    height: 30px;
}

#dummy{
    font-size: 15px;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-size: 15px;    
}

#copy{
    font-family: goth;
    color: white;
    text-shadow: 
    0 0 10px #fff,
    0 0 21px  #7D00FF,
    0 0 42px  #7D00FF,
    0 0 82px  #7D00FF;
    background-color: transparent;
    cursor:pointer;
    border-image: url(./assets/gothic/menu/R_SquareFrame.png) 30 round !important;
    background-size: cover;
    border: 5px solid;
    margin-bottom: 5px;
    margin-top: 0px;
    width: 110px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}