/*I SAID STOP SNOOPING AROUND*/
body{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
#love{
    font-size: xx-large;
    color: #8400ff;
    flex-wrap: wrap;
}
#t{
    position:sticky;
    display:flex;
    align-items: center;
    justify-content: center;
}
