body{
    background-color:rgb(68, 16, 159);
    padding: 0px;
    margin: 0px;
}


/* CSS */
.container {
    text-align: center;
    line-height: 2em; /* Set the line height to the same height as the button and input box */
}
  


button, input[type="text"] {
    display: inline-block;
    vertical-align: top;
    font-size: 1em; /* Use em unit for font size */
    width: 10em; /* Use em unit for width */
    height: 2em; /* Use em unit for height */
    margin-bottom: 1em; /* Add some margin to separate the button and input box */
}

.chatContainer{
    background-color: black;
    width:50%;
    color:white;
    padding:1%;
}

#user1{
    display:flex;
    justify-content: left ;
}
#user2{
    display:flex;
    justify-content: right;
}